<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="pratice.css" rel="stylesheet">
<script type="text/javascript" src="pratice.js"></script>
<script type="text/javascript" scr="jquery.mobile-1.4.5.js"></script>
<script type="text/javascript" scr="jquery.mobile-1.4.5.min.js"></script>
<title>練習</title>
</head>
<body>
<div class="size">
	<span class="slideshow-container">
	
		<span class="mySlides fade">
				<span class="numbertext"></span>
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="2.jpg" style="width:633px" height:418px">
				<img src="1.jpg" style="width:633px" height:418px">
				<span class="text"></span>
		</span>

		<span class="mySlides fade" style="display: none">
				<div class="numbertext"></div>
				<img src="1.jpg" style="width:633px height:418px">
				<img src="1.jpg" style="width:633px height:418px">
				<img src="1.jpg" style="width:633px height:418px">
				<img src="1.jpg" style="width:633px height:418px">
				<img src="1.jpg" style="width:633px height:418px">
				<img src="1.jpg" style="width:633px height:418px">

				<span class="text"></span>
		</span>

		<span class="mySlides fade" style="display: none">
				<span class="numbertext"></span>
				<img src="4.jpg" style="width: 33%">
				<img src="4.jpg" style="width: 33%">
				<img src="4.jpg" style="width: 33%">
				<img src="4.jpg" style="width: 33%">
				<img src="4.jpg" style="width: 33%">
				<img src="4.jpg" style="width: 33%">
				<span class="text"></span>
			 
		</div>

		<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next"
			onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>

	<div style="text-align: center">
		<span class="dot" onclick="currentSlide(1)"></span> <span class="dot"
			onclick="currentSlide(2)"></span> <span class="dot"
			onclick="currentSlide(3)"></span>
		</div>
		
	</div>
</body>
</html>