<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Add new MySQL User</title>
	</head>
	<body>
		<form action="http://localhost:8080/dante9527/Controll">
	<!-- 	浪浪描述: <br> -->
		性別:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男生<input type='radio' name = 'gender' value='m'> 
													     女生<input type='radio' name = 'gender' value='f'></br>
		
		項圈:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有<input type='radio' name='Collar' value='Y' >    
													      無<input type='radio' name='Collar' value='N' > <br>
		毛色:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name='color'>
													  <option value="white">白色</option>
												      <option value="orange">棕色</option>
												      <option value="gray">灰色</option>
													  <option value="mix">混色</option>
													  </select></br>
		犬型:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大型<input type='radio' name='size'      value ='Big' >
													      中型<input type='radio' name='size'      value ='M' >
													      小型<input type='radio' name='size'      value ='S' >
		<br>
		<input type='submit' name='type' value='add' >
		</form>
	</body>
</html>